<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <!-- <link rel="stylesheet" href="/css/index.css" type="text/css"> -->
    <title>Doughme</title>
</head>

<body>
    <img src="/img/logo.png" alt="" class="landing-img">
    <!-- <img src="/img/logo.png" alt="" class="landing-img"> -->
    <div class="words">
        <h1 class="description">Donate your baked goods here</h1>
        <p class="explanation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia doloremque, ab sequi
            culpa
        </p>
    </div>
    <div class="btns">
        <a href="/user"><button id="register-btn"> Register</button></a>
        <a href="/user/login"><button id="signin-btn"> Sign in</button></a>

    </div>
</body>

</html>