<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="login-wrapper">
        <div class="login-welcome">Hello Again!</div>
        <div class="login-welcome-messege">Welcome back you've been missed!</div>
        <form action="/user/login" method="post" class="form-login">
            <div class="form-login_comp">
                <input type="email" name="email" id="name" placeholder="Enter email" required>
            </div>
            <div class="form-login_comp">
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div id="errorMsg"></div>
            <div class="form-login_comp-recovery">Recovery Password</div>
            <div class="form-login_comp">
                <button type="submit">Sign in</button>
            </div>

        </form>
        <div class="registernow">Not a member? <a href="/user">Register now</a></div>
    </div>
</body>

</html>