<<<<<<< HEAD
.btngroup {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.btnCart {
    background-color: #9fa19f;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.btnView {
    background-color: #000000;
    margin-left:20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.username{
  margin-top : 10%;  
  display: flex;
  justify-content: center;
  
  font-size:1.5rem;
    
}
.tickLogo, .content{
    margin-top: 20px;
    text-align: center;
=======
.btngroup {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.btnCart {
    background-color: #9fa19f;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.btnView {
    background-color: #000000;
    margin-left:20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.username{
  margin-top : 10%;  
  display: flex;
  justify-content: center;
  
  font-size:1.5rem;
    
}
.tickLogo, .content{
    margin-top: 20px;
    text-align: center;
>>>>>>> d99754239d8b30a6390daced8b50ac583e193f44
}