<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;

}

.top {

    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.top .back {
    position: absolute;
    top: 10px;
    left: 30px;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;

}

.top .name {
    position: absolute;
    top: 230px;
    left: 120px;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 2rem;
    font-family: sans-serif;
}

.label {
    margin-left: 13px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 25px;
}

.address,
.content {
    margin-left: 30px;
    font-size: 20px;
}



img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.divide {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 10px;
    background-color: #efeeee;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
   

}
.button1 {
    background-color: #000000;
}
.button2 {
    background-color: #7b7b7b;
    color : black;
}
.btn {
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-content: center;

}

.footer{
   
    margin-top: 70px;
   
    margin-bottom: 50px;
}
.copyright {
    font-size :9px;
}


.child {
    flex: 1;
    margin-right :30px;
}

.icons {
    display: flex;
    margin-top: 10px;
    margin-inline: 50px;
    text-align: center;
}
a{
    color : black;
    text-decoration-line: none;
}
.copyright {
    padding-left: 10px;
}
=======
* {
    margin: 0;
    padding: 0;

}

.top {

    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.top .back {
    position: absolute;
    top: 10px;
    left: 30px;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;

}

.top .name {
    position: absolute;
    top: 230px;
    left: 120px;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 2rem;
    font-family: sans-serif;
}

.label {
    margin-left: 13px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 25px;
}

.address,
.content {
    margin-left: 30px;
    font-size: 20px;
}



img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.divide {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 10px;
    background-color: #efeeee;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
   

}
.button1 {
    background-color: #000000;
}
.button2 {
    background-color: #7b7b7b;
    color : black;
}
.btn {
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-content: center;

}

.footer{
   
    margin-top: 70px;
   
    margin-bottom: 50px;
}
.copyright {
    font-size :9px;
}


.child {
    flex: 1;
    margin-right :30px;
}

.icons {
    display: flex;
    margin-top: 10px;
    margin-inline: 50px;
    text-align: center;
}
a{
    color : black;
    text-decoration-line: none;
}
.copyright {
    padding-left: 10px;
}
>>>>>>> d99754239d8b30a6390daced8b50ac583e193f44
    