
.footer .copyright {
   
    margin-top: 15px;
    font-size: 9px;
}


.child {
    flex: 1;
}

.icons {
    display: flex;
    margin-top: 10px;
    margin-inline: 50px;
    text-align: center;
}
a{
    color : black;
    text-decoration-line: none;
}
.copyright {
    padding-left: 10px;
}