body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Hind', sans-serif;
    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    background: -moz-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    background: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECDCC5", GradientType=1);
}

/* hind-300 - latin */
@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/hind-v16-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/hind-v16-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/hind-v16-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/hind-v16-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/hind-v16-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/hind-v16-latin-300.svg#Hind') format('svg');
    /* Legacy iOS */
}

/* hind-regular - latin */
@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hind-v16-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/hind-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/hind-v16-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/hind-v16-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/hind-v16-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/hind-v16-latin-regular.svg#Hind') format('svg');
    /* Legacy iOS */
}

/* hind-500 - latin */
@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/hind-v16-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/hind-v16-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/hind-v16-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/hind-v16-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/hind-v16-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/hind-v16-latin-500.svg#Hind') format('svg');
    /* Legacy iOS */
}

/* hind-600 - latin */
@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/hind-v16-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/hind-v16-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/hind-v16-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/hind-v16-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/hind-v16-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/hind-v16-latin-600.svg#Hind') format('svg');
    /* Legacy iOS */
}

/* hind-700 - latin */
@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hind-v16-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/hind-v16-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/hind-v16-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/hind-v16-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/hind-v16-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/hind-v16-latin-700.svg#Hind') format('svg');
    /* Legacy iOS */
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Hind', sans-serif;
    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    background: -moz-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    background: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECDCC5", GradientType=1);
}

.left img {
    height: 50vh;
    width: 100vh;
    margin-bottom: 3rem;
    object-fit: fill;
}

.left {

    justify-content: center;
    vertical-align: middle;
    float: left;
}

.words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 2.5rem;
    max-width: 100%;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2.5rem;
}

.explanation {
    max-width: 400px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3.5rem;
}


.btns {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button {
    padding: 1.5rem 3.5rem;
    border-radius: 20px;
    background-color: white;
    border: white solid 2px;
    cursor: pointer;
}

#signin-btn {
    background-color: #472c17;
    color: white;
    font-size: medium;
}

button a {
    list-style: none;
    text-decoration: none;
    font-size: 1.8rem;
    color: #262626;
    font-weight: bold;
}

#register-btn {
    font-size: medium;
}


@media screen and (min-width: 600px) {
    .description {
        font-size: 4rem;
        min-width: 80vw;
    }

    .explanation {
        min-width: 80vw;
        font-size: 2rem;
        font-weight: 100;
        margin-bottom: 5rem;
    }

    button {
        padding: 2rem 6rem;
        border-radius: 20px;
        background-color: white;
        border: white solid 2px;
        font-size: 2rem;
        font-weight: bold;
    }
}

@media screen and (min-width: 1980px) {}