@import url('../fonts/Hind-Regular.ttf');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}



body {
    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    background: -moz-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    background: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(35, 51%, 85%, 1) 99%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ECDCC5", GradientType=1);
    height: 100vh;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-welcome {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;

}

.login-welcome-messege {
    font-size: 4rem;
    width: 600px;
    text-align: center;
    margin-bottom: 8rem;
    line-height: 4rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}

#name,
#password {
    width: 80vw;
    padding: 1.5rem 2rem;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
}

.form-login_comp-recovery {
    align-self: flex-end;
    font-weight: bold;
    color: #9c6644;
    cursor: pointer;
    margin-bottom: 1rem;
}

.form-login_comp input[type="submit"] {
    width: 80vw;
    padding: 2rem 1rem;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #9c6644;
    font-size: 1.5rem;
    margin-bottom: 5rem;
}

.login-icons {
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

.icon {
    margin-top: 5rem;
    height: 100px;
    border-radius: 15px;
    padding: 1rem 3rem;
    cursor: pointer;

}

.registernow {
    margin-top: 5rem;
}

.registernow a {
    text-decoration: none;
    color: #9c6644;
}

#errorMsg {
    font-size: 18px;
    color: crimson;
}